.msg-div[data-v-f580aeeb]{height:50vh;margin-right:10px;margin-left:10px;overflow:auto;background-color:#eaeaea}.msg-send[data-v-f580aeeb]{padding:10px}.send-but[data-v-f580aeeb]{float:right;margin-top:8px;margin-bottom:8px}
