[data-v-793cc4c7] .el-affix--fixed{background-color:var(--el-bg-color)}.btn-container>div[data-v-793cc4c7]{display:flex;margin:0 8px;cursor:pointer;align-items:center}.btn-container>div[data-v-793cc4c7]:hover{color:#6db5ff}
