.el-tabs__nav-scroll{margin:2px 8px!important}.el-tabs__header{margin:0!important;padding:0!important}.el-tabs__nav-wrap{margin-bottom:0!important}.el-tabs__content{padding:0!important}.el-tab-pane{padding:8px 0 0!important}
